* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "montserrat", sans-serif;
}
.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  background-position: top center;
}
.current .temp {
  color: #fff;
  font-size: 30px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
  margin: 10px;
  font-weight: 540;
}
.current .city {
  color: #fff;
  font-size: 16px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
  margin-left: 9px;
  line-height: 0px;
}
.current .weather {
  color: #fff;
  font-size: 13px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
  margin-left: 9px;
  line-height: 40px;
}
.username {
  color: #fff;
  font-size: 23px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
  text-align: center;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}
header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(14, 12, 12, 0.6);
  border-radius: 16px 0px 16px 0px;
  color: #cfcfcf;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}
header input:focus {
  color: #cfcfcf;
  background-color: rgba(41, 40, 40, 0.527);
}
main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: right;
}
.clock {
  color: #fff;
  font-size: 89px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}
.time {
  color: #fff;
  word-spacing: 73px;
  font-size: 15px;
  margin-inline-end: 17px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}
.location .date {
  color: #fff;
  font-size: 24px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
  margin-inline-end: 16px;
}
.location .day {
  font-weight: 600;
}
.logout {
  font-size: 18px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
  margin-bottom: 12px;
  margin-left: 3px;
}
.logout a {
  text-decoration: none;
  background-color: #00000081;
  color: rgba(219, 223, 223, 0.89);
  padding: 6px;
  border-radius: 45px;
}
.logout a:hover {
  color: white;
}
